<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Credit Management {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% block extra_css %}{% endblock %}
</head>
<body>
<header class="header">
    <nav class="header">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <i class="fas fa-credit-card me-2">CreditGame</i>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('play_rps') }}">Play Games</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('store') }}">Store</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle me-1"></i>{{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/dashboard">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main Content Container -->
<main class="main container">{% block content %}{% endblock %}</main>
<footer>
    <p>&copy; 2025 Credit Game All rights reserved.</p>
</footer>
</body>
<style>
    nav {
        background-color: white;
        color: black;
        justify-content: right;
        align-items: flex-start;
    }
</style>
</html>