{%  extends "base.html" %}

{%  block content %}
<div class="store-container">
    <div class="store-header">
        <h1>C-Store</h1>
        <div class="credits">
        <h3>Current Balance: ${{ current_user.current_balance }}</h3>
        <h3>Credit Limit: ${{ current_user.credit_limit }}</h3>
        <p>Availible Credit: ${{ current_user.credit_limit - current_user.current_balance }}</p>

        </div>
    </div>

    <div class="products-grid">
        <div class="product-card">
            <div class="product-info">
                <h3>Cool Kat</h3>
                <img src="/static/cat.png" alt="cat", width="150", height="150">
                <p class="product-price">$100</p>

                <button class="buy-btn" data-item="1" data-price="100">Buy Now</button>
            </div>
        </div> <!-- Item One -->

        <div class="product-card">
            <div class="product-info">
                <h3>Cooler Kat</h3>
                <img src="/static/cat1.png" alt="cat", width="150", height="150">
                <p class="product-price">$367</p>

                <button class="buy-btn" data-item="2" data-price="367">Buy Now</button>
            </div>
        </div> <!-- Item 2 -->

        <div class="product-card">
            <div class="product-info">
                <h3>Coolest Kat</h3>
                <img src="/static/cat2.png" alt="cat", width="150", height="150">
                <p class="product-price">$800</p>

                <button class="buy-btn" data-item="3" data-price="800">Buy Now</button>
            </div>
        </div> <!-- Item 3 -->

        <div class="purchase-modal" >
            <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h2>Confirm Purchase</h2>
                <p id="modal-item-name"></p>
                <p id="modal-item-price"></p>


                <form action="{{ url_for('make_purchase') }}" method="POST">
                    <input type="hidden" id="amount" name="amount" value="">
                    <input type="hidden" id="description" name="description" value="">
                    <input type="hidden" id="item_id" name="item_id" value="">
                    <button type="submit" class="confirm-purchase-btn">Confirm Purchase</button>

                </form>
            </div>
        </div> <!-- modal for purchases -->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const buy = document.querySelectorAll('.buy-btn'); //buy now buttons
        const modal = document.querySelector('.purchase-modal');//popup box when buynow clicked
        const closeModal = document.querySelector('.close-modal');//closes box
        const modalItemName = document.getElementById("modal-item-name");
        const modalItemPrice = document.getElementById("modal-item-price"); //shows user what they are going to purchase
        //const modalItemQuantity = document.getElementById("modal-item-quantity");
        //const modalTotalPrice = document.getElementById("modal-total-price");

        const amountInput = document.getElementById("amount");
        const description = document.getElementById("description");
        const itemIDInput = document.getElementById("item_id");
        //const quantityInput = document.getElementById("quantity");
        //hidden form fields that send purchase info to app

        buy.forEach(button => { //click functionality for each button
            button.addEventListener("click", function(){
                const price = this.getAttribute("data-price");
                const itemId = this.getAttribute("data-item");
                const iName = this.parentElement.querySelector('h3').textContent;
                //const quantityElement = this.parentElement.querySelector('.quantity-input');
                //const quantity = parseInt(quantityElement.value);
                //const totalPrice = price * quantity;
                //modal work
                modalItemName.textContent = iName; //text from the Name of items
                modalItemPrice.textContent = price; //text of the price of the value
                //modalItemQuantity.textContent = quantity;
                //modalTotalPrice.textContent = totalPrice;
                //hidden forms
                amountInput.value = price;
                //quantityInput.value = quantity;
                description.value = iName;
                itemIDInput.value = itemId;

                modal.style.display = "block";
            });
        });
        closeModal.addEventListener("click", function(){// close when x is clicked
            modal.style.display = "none";
        });
    });
</script>
{% endblock %}